Title: Home
NoSidebar: true
NoTitle: true
NoContainer: true
---
<section class="content">
    <h1>SlideLayout for Xamarin Android</h1>
    <p>
        SlideLayout' children view can drag!!
    </p>

    <h2>Open Source</h2>
    <p>
        AndroidSlideLayout is open source on <a href="https://github.com/MeilCli/AndroidSlideLayout">Github</a>
    </p>

    <h2>Install</h2>
    <p>
        AndroidSlideLayout is published on <a href="https://www.nuget.org/packages/Meilcli.Android.SlideLayout/">NuGet</a>
        <pre><code>Install-Package Meilcli.Android.SlideLayout</code></pre>
    </p>

    <h2>Usage</h2>
    <p>
        See <a href="https://github.com/MeilCli/AndroidSlideLayout/blob/master/README.md">ReadMe</a>
    </p>

    <h2>License</h2>
    <p>
        AndroidSlideLayout is under <a href="https://github.com/MeilCli/AndroidSlideLayout/blob/master/LICENSE.txt">MIT License</a>
    </p>

    <h3>Thanks</h3>
    <p>
        This library use <a href="https://github.com/xamarin/AndroidSupportComponents/">Xamarin.Android.Support Library</a><br/>
        Xamarin.Android.Support is under <a href="https://github.com/xamarin/AndroidSupportComponents/blob/master/LICENSE.md">MIT License</a><br/>
        Copyright (c) .NET Foundation Contributors   
    </p>
    <p>
        This library use code that ported from FrameLayout to Xamarin<br/>
        FrameLayout is under Apache License v2<br/>
        Copyright (C) 2006 The Android Open Source Project
    </p>
</section>
